.book-content {
}

.book-image{
  width: 15rem;
  margin-bottom: 3rem ;

}
.book-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: xx-large;
}
.book-author {
  margin-top: 2rem;
  font-size: medium;
}
.book-editor {
  font-size: medium;

}

.book-description {
  margin-top:2rem ;
  font-size: large;
}
