.searchBiblio{
  border-right:0.1em solid #a1a1a1;
}

.navLibrary{
  padding-left:0;
}

.navLibrary > li{
  border-bottom: 0.1em solid #c9c9c9;

}

.navLibrary > li > img{
  max-width: 1em;
}

.navLibrary > li > a{
  color:#585857;
  font-weight:600;
  padding:0.4em 0 0.4em 0.5em;
  display: inline-block;
}

.navLibrary a:hover{
  color: #fab334;
}

