@use 'reset';
@use 'vars';
@import url(https://fonts.bunny.net/css?family=montserrat:200,300,400,500,600);


/* common */

@keyframes pop {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}




body {
  font-family: 'Montserrat', sans-serif !important;
  /*transition: background-color .3s;*/
  color: #1f2344;
  background-color: #fafcff !important;
}

.required::after{
  content:"*";
  color:red;
}

h2{
  color:#00aa9a;
  font-size:1.5em !important;
  font-weight:600 !important;
}

/* top */
.header__part {
  border-bottom: var(--border-normal);
}

.header__flex {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.logo__image {
  margin-right: 0.5rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 1rem;;
}

.submenu {
  text-align: center;
  color: #666;
  font-size: 0.9em;
}

.submenu__item {
  padding: 1rem 0.5rem;
  display: inline-block;
}

.submenu__item--current {
  border-bottom: 2px solid #666;
}
.error {
  color: red;
  font-size: 0.8rem;
  font-family: sans-serif;
}
