.tabs{
  // background-color: #fff;
  // box-shadow: 0 0 0.5em 0.2em #dbdbdb ;
  // border-radius:0.5em;
  // padding: 1em;
}

.tab-content{
  border-bottom:1px solid #dee2e6;
  border-left:1px solid #dee2e6;
  border-right:1px solid #dee2e6;
  border-radius: 0px 0px 0.5em 0.5em;
  padding:2em;
  margin-top:-1em;
  background-color: #fff;
}
