.actu .card-text{
  text-align:justify;
}

.actu .card-title{
  font-weight: 600;
}

.titleActu{
  font-weight: 600;
  border-bottom: 0.3em solid #ffb329;
  margin: 0 2em 1em 2em;
  padding:1em;
  color:#14aa9a;

}

.actu{
  box-shadow: 0 0 0.5em 0.2em #dbdbdb ;
}
