.divInscription{
  margin-top:3em;
}

.infoIsbn{
  box-shadow: 0 0 0.5em 0.2em #dbdbdb ;
border-radius: .5em;
}
.infoIsbn p{
  font-weight:600;
  color: #fff;
  background-color:#ffbb00;
  padding: .3em;
  text-transform:uppercase;
}
