.banner{
  background-image:url("../../assets/images/books-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:20em !important;
}
.card-content{
  color:#fff;
  padding:2em;
}

.card-texte{
  padding-top:5em;
}
