.banner{
  background-image:url("../../assets/images/books-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 /* height:20em !important;*/
}
.card-content{
  padding:2em;
}

.banner .card-text{
   font-weight: 600;
   color:#fff;
  
}

.titleHome{
  color:#14aa9a;
  font-size:2.5em;
}
